<div class="member">
	<div class="photo">
		<% if person.photo.present? %>
		  <%= image_tag person.photo.url %>
		<% else -%>
		  <%= image_tag (@church.no_pic.present? ? @church.no_pic.url : "/noimage-crown.jpg") %>
		<% end -%>
	</div>
	
	<div class="maininfo">
		<div class="name"><%= person.full_name %></div>
		<div class="addr">
		 <% if show_details %>
		    <% if person.street_address.present? %>
			<%= person.street_address_short %><br />
			<% end -%>
			<% if person.city.present? %>
			<%= person.city %>,
			<% end -%> 
			<%= person.state_abbrev %> <%= person.zip_code_short %>
		 <% else %>
			<% if person.city.present? %>
			<%= person.city %>,
			<% end -%> 
			<%= person.state_abbrev %> <%= person.zip_code_short %>
		 <% end %>
		</div>
		<div class="contact">
			<% if person.email_address.present? && person.email_address.length < 30 -%>
			<%= mail_to person.email_address %><br />
			<% end -%>
			<% if person.email_address.present? && person.email_address.length >= 30 -%>
			<span class="email-long"><%= mail_to person.email_address %><br /></span>
			<% end -%>
			<% if person.phone.present? -%>
			<%= person.phone %><br />
			<% end -%>	
			<% if person.mobile.present? && (person.phone.blank? || person.phone != person.mobile)-%>
			 <%= person.mobile %><br />
			<% end -%>	
		</div>
		<div class="dates" style="display: none;">
			<% if person.membership_date.present? %>
			Date Joined: <%= person.membership_date %><br />
			<% end -%>
			<% if person.date_of_birth.present? -%>
			Birthday: <%= person.date_of_birth.strftime('%b %-d')%><br />
			<% end -%>
			<% if person.anniversary_date.present? -%>
			Anniversary: <%= person.anniversary_date.strftime('%b %-d')%><br />
			<% end -%>		
		</div>
	</div>
</div>
