<% objects_to_pages_columns_and_rows(memberlist, rows_per_page, cols_per_page).each do |pagedata| %>
<% @members_pages_count = @members_pages_count + 1 %>
<div class="members-page  page-break" id="members-page-<%= pagedata[:pagenum] %>">
	
	<% if out_of_area %>
		<div class="moved-members-message">
		   <h2><%= title %></h2>
		   These are members who have recently moved who we have covenanted to watch over until they have found another local church. Please pray that God would care for them and lead them to another local fellowship.
		</div>
	<% else %>
	   <h2><%= title %></h2>
	<% end %>
 	   <table class="memberlist-matrix" id="members-page-table-<%= pagedata[:pagenum] %>">
   <% pagedata[:matrix].each do |row| %>
      <tr>
      <% rowblanks = @cols_per_page - row.count -%>
      <% row.each do |col| %>
         <td>
		     <%= render :partial => 'directory_person_entry', :locals => { :person => col, :show_details => show_details } %>
	     </td>
      <% end -%>
      <% rowblanks.times do -%>
         <td>&nbsp;</td>
      <% end -%>
      </tr>
   <% end -%>
   </table>

   <div class="pagenum">Page <%= pagedata[:pagenum] if !out_of_area %> <%= @members_pages_count if out_of_area %> <%= page_num_extra if defined?(page_num_extra) %></div>
</div>
<% end -%>
