<div class="titlepage  page-break">
  <% if @church.big_logo.present? %>
    <%= image_tag(@church.big_logo.url) %>
  <% else %>
    <h1><%= @church.name %></h1>
  <% end %>
	<h2>Member Directory</h2>
	<h3>(as of <%= Date.today.strftime('%B %-d, %Y') %>)</h3>
	
	<div class="address">
		<%= @church.address_compressed %><br />
		<%= @church.phone %>  <% if @church.phone.present? && @church.website.present? %>&nbsp;&nbsp;&nbsp; <%= @church.website %><% end %>
	</div>
	
	<%# Note... use http://www.esvapi.org/v2/rest/passageQuery?key=IP&passage=Ephesians+2:2&include-passage-references=false&include-footnotes=false&include-verse-numbers=false %>
	<div class="scripture">
    <% @church.front_page_content.each_line do |line| %>
      <%= line %><br />
    <% end %>
	</div>
</div>
