<% 
  @rows_per_page = 6
  @cols_per_page = 3
  #keeps track of moved members page number
  @members_pages_count = 0
%>

    <%= render :partial => 'title_page' %>

	<!-- members list -->
	<%= render :partial => 'member_pages_and_matrices', :locals => { :title => "#{@church.short_name_prioritized} Members as of #{Date.today.strftime('%B %-d, %Y')}", :memberlist => @church.attending_members, :rows_per_page => @rows_per_page, :cols_per_page => @cols_per_page, :show_details => true, :out_of_area => false } %>

	<!-- moved members are marked as 'Non-Attending' -->
	<%= render :partial => 'member_pages_and_matrices', :locals => { :title => "#{@church.short_name_prioritized} Members Out of Area as of #{Date.today.strftime('%B %-d, %Y')}", :memberlist => @church.moved_members, :rows_per_page => @rows_per_page, :cols_per_page => @cols_per_page, :show_details => true, :out_of_area => true } %>

	<div class="members-page" id="members-page-households">
		<h2><%= @church.short_name_prioritized %> Households with Children as of <%= Date.today.strftime('%B %-d, %Y') %></h2>
		<table id="households-listing" class="wrap-cells-to-next-page">
			
			<tbody>
			<tr>
				<td valign="top" align="left" style="max-width:220px;max-height:1150px;">
		<% @hh_lines_iter = 0 -%>
		<% @hh_lines_per_col = 52 -%>
		<% @church.sorted_households.each do |hh| %>
		 <% unless hh[:children].empty? %>
		
		 <% if @hh_lines_iter > @hh_lines_per_col %>
		        </td>
		        <td valign="top" align="left" style="max-width:220px;max-height:1150px;">
			  <% @hh_lines_iter = 0 %>
		 <% end %>
		 <div class="household">
			<div class="name"><%= hh[:full_name] %></div>
			<% @hh_lines_iter += 2 %>
			<% if hh[:head_of_household].anniversary_date.present? %>
			<div class="anniversary">Anniversary: <%= hh[:head_of_household].anniversary_date.strftime('%B') %> <%= hh[:head_of_household].anniversary_date.day.ordinalize %></div>
			<% end -%>
			<div class="kids">
				<% hh[:children].each do |child| -%>
				<div class="child"><%= child.first_name %></div>
				<% @hh_lines_iter += 1 %>
				<% end -%>
			</div>
		 </div>
		 <% end -%>
		<% end -%>
				</td>
			</tr>
			</tbody>
		</table>
	</div>