<% 
  @rows_per_page = 6
  @cols_per_page = 3
%>

    <%= render :partial => 'title_page' %>

	<%= render :partial => 'member_pages_and_matrices', :locals => { :title => "#{@church.short_name_prioritized} Members as of #{Date.today.strftime('%B %-d, %Y')}", :memberlist => @church.members, :rows_per_page => @rows_per_page, :cols_per_page => @cols_per_page, :show_details => true } %>


	<div class="members-page" id="members-page-households" style="min-height: 1000px;">
		<h2><%= @church.short_name_prioritized %> Households and Children</h2>

		<table id="households-listing" style="">
			<tr>
				<td valign="top" align="left">
		<% @hh_lines_iter = 0 -%>
		<% @hh_lines_per_col = 60 -%>
		<% @church.sorted_households.each do |hh| %>
		 <% unless hh[:children].empty? %>
		
		 <% if @hh_lines_iter > @hh_lines_per_col %>
		        </td>
		        <td valign="top" align="left">
			  <% @hh_lines_iter = 0 %>
		 <% end %>
		 <div class="household">
			<div class="name"><%= hh[:full_name] %></div>
			<% @hh_lines_iter += 2 %>
			<% if hh[:head_of_household].anniversary_date.present? %>
			<div class="anniversary">Anniversary: <%= hh[:head_of_household].anniversary_date.strftime('%B') %> <%= hh[:head_of_household].anniversary_date.day.ordinalize %></div>
			<% end -%>
			<div class="kids">
				<% hh[:children].each do |child| -%>
				<div class="child"><%= child.first_name %></div>
				<% @hh_lines_iter += 1 %>
				<% end -%>
			</div>
		 </div>
		 <% end -%>
		<% end -%>
				</td>
			</tr>
		</table>
	</div>