<h2><%= @church.name %></h2>

<h3>Members</h3>

<% 
  @numcolumns = 3
  @numrows = 10
  @columngap = "30px;"
  @columnwidth = "320px;"
%>

<%= link_to "View Directory", directory_church_path(@church) %>
<br />
<%= link_to "Download Google Earth KML File", google_kml_church_path(@church, :format => 'kml') %>


<h3>Update Member Information</h3>

<%= form_tag update_church_data_church_path(@church), :multipart => true do %>
  File to upload: <span style="border: dashed 1px gray; font-size: 12px; padding: 10px;"><%= file_field_tag "xlsfile", :style => "font-size: 12px;" %></span>
  <br />
  <p>Please re-save the ChurchDirectoryOnline file as a proper 2004-2007 Excel .xls document</p>

  <%= submit_tag "Upload XLS File and Batch-Update", :style => "margin-top: 20px;" %>
<% end -%>


