<h2><%= @church.name %></h2>

<h3>Members</h3>

<b>Number of entries: <%= @church.people.count %></b><br /><br />

<% 
  @numcolumns = 3
  @numrows = 10
  @columngap = "30px;"
  @columnwidth = "320px;"
%>

<%= link_to "View Directory", directory_church_path(@church) %>
<br />
<%= link_to "Download Google Earth KML File", google_kml_church_path(@church, :format => 'kml') %>
<br />
<small>Printing in booklet form: <a href="http://helpx.adobe.com/acrobat/kb/print-booklets-acrobat-reader.html">click here for instructions</a>

<h3>Update Member Information</h3>

<%= form_tag update_church_data_church_path(@church), :multipart => true do %>
  File to upload: <span style="border: dashed 1px gray; font-size: 12px; padding: 10px;"><%= file_field_tag "csvfile", :style => "font-size: 12px;" %></span>
  <br />
  <p>Download the CSV version of the file</p>

  <%= submit_tag "Upload CSV File and Batch-Update", :disable_with => 'Processing... will take some time', :style => "margin-top: 20px;" %>
<% end -%>

<br />
<hr />
<br />

<h3>Clear Out Member Information</h3>

<%= form_tag clear_church_data_church_path(@church), :method => :post do %>
  <p>Once you have created a printed PDF of the directory and downloaded the Google Earth file, you should clear out the data...</p>
  <%= submit_tag "Clear out member information", :confirm => 'Are you sure?', :disable_with => 'Processing... will take some time', :style => "margin-top: 20px;" %>
<% end -%>


