<h2><%= @church.name %></h2>


<% 
  @numcolumns = 3
  @numrows = 10
  @columngap = "30px;"
  @columnwidth = "320px;"
%>

<style>
div.action_option_icon {

	width: 150px;
	height: 150px;
/*	border: 2px solid #666;
	 border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	*/
	margin-bottom: 10px;
}
table.action_option td {
	padding: 10px;
	padding-right: 30px;
}
img.option_image {border:1px solid #a0a0a0;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
img.option_image:hover {
	border: 1px solid #333;
}
</style>

<table class="action_option" border="0">
	<tr>
		<td valign="top" align="center">
<%= link_to image_tag(asset_path('OptionDirectorySquare.png'), :class => 'option_image'), directory_church_path(@church), :class => 'popupwindow', :rel => 'scrollbars:1,height:700,width:1100' %>
<br />
<%= link_to "Printable Directory", directory_church_path(@church), :class => 'popupwindow', :rel => 'scrollbars:1,height:700,width:1100' %>
<br />
<small><%= link_to "Printing Help", "#printhelp", :class => 'fancybox'%></small>

        </td>
		<td valign="top" align="center">
<%= link_to image_tag(asset_path('OptionGoogleEarthSquare.png'), :class => 'option_image'), google_kml_church_path(@church, :format => 'kml') %>
<br />
<%= link_to "Google Earth KML File", google_kml_church_path(@church, :format => 'kml') %>
<br />
         </td>
   </tr>
</table>


<div id="printhelp" style="display: none;">
	<h4>Directory Printing Help</h4>
	
	<p>To print the directory, click the button above to show the directory.  </p>
	<p>Then use your normal browser printing.  You will want to set browser printing options to avoid junk in the margins.
	</p>
	
	<p>If you want to print in booklet form, you can go <a href="http://helpx.adobe.com/acrobat/kb/print-booklets-acrobat-reader.html">here</a> for some options</p>
</div>


<br /><br />

<h4 style="margin-bottom: 5px;">Admin Tools:</h4>
<ul>
<li><%= link_to "Update Member Info", upload_csv_form_church_path(@church), :class => 'fancybox fancybox.iframe' %></li>
<li><%= link_to "List/Add Administrators", list_users_church_path(@church), :class => 'fancybox fancybox.iframe' %></li>
</ul>
